body {
  background-image: url('./images/background.jpg');
  background-attachment: fixed;
  color: #063264;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

.mobile-header {
  display: none;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 5px 15px;
  box-sizing: border-box;
  background-color: #063264;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
  z-index: 10;
}

.sandwich div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

.mobile-header .logo {
  width: 40px;
}

.menu {
  width: 200px;
  height: 100%;
  position: fixed;
  display: block;
  flex-direction: column;
  font-size: 14px;
  background-color: rgba(2, 4, 43, 0.7);
}

.menu.toggled {
  width: 50px;
}

.menu-wrapper {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li:not(:first-child) {
  margin-top: 20px;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #8fbdff;
}

.menu a:hover,
.menu .active {
  color: #fff;
}

.menu a:hover .svg,
.hide-menu:hover .svg,
.menu .active .svg {
  fill: #fff;
}

.menu svg {
  display: inline-block;
  vertical-align: middle;
}

.svg {
  fill: #8fbdff;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.logo {
  width: 100%;
  text-align: center;
  margin: 0;
}

.logo svg {
  max-width: 150px;
}

.hide-menu {
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(2, 4, 43, 0.7);
}

.hide-menu svg {
  float: right;
}

.hide-menu:hover {
  cursor: pointer;
}

.container {
  padding: 0 30px;
  margin-left: 200px;
}

.container.toggled {
  margin-left: 50px;
}

h1,
h2 {
  letter-spacing: -1px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.table {
  border: 2px solid #eee;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.table td,
.table th {
  padding: 10px;
}

.table tr {
  border: #ccc 1px solid;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(237, 252, 255)), to(rgb(235, 235, 235)));
}

.table thead {
  color: #000;
}

.table tbody tr:nth-child(odd) {
  background-image: none;
}

.table tbody tr:hover {
  background-color: #eee;
  background-image: none;
}

/* INDEX PAGE */

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ship-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 0 0;
}

.ship-main img {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
}

.ship-main a {
  margin-top: 20px;
}

.article {
  margin-top: 80px;
  font-size: 14px;
  line-height: 21px;
}

.images {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  word-wrap: normal;
}

.images img {
    height: 150px;
    border: 3px solid #fff;
}

/* Media queries */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .container {
    padding: 0 5px;
  }

  .table {
    font-size: 10px;
  }

  .table td,
  .table th {
    padding: 10px 0;
  }

  .ship-main img {
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .menu,
  .menu .logo {
    display: none;
  }

  .menu-wrapper {
    justify-content: center;
  }

  .container {
    margin-left: 0;
    padding-top: 50px;
  }

  .mobile-header {
    display: flex;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  
}