$font-color: #444;

html, body, div, span, input, button {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: inherit;
	font-weight: bold;
	vertical-align: baseline;
}

html {
  font-size: 16px;
}

body {
  padding: 20px;
  background-color: #eee;
  color: $font-color;
  font-size: 12px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

.main-input {
  width: 100%;
  text-align: center;
  width: auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid $font-color;
  padding-top: 25vh;
	outline: none;
	font-size: 3rem;
	font-family: sans-serif;
}

.country-list {
	text-align: center;
}

.country {
  display: block;
  width: 100%;
  padding-top: 3vh;
  font-size: 2rem;
  background: none;
  outline: none;
}

// Media queries

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
}